@font-face {
  font-family: "pkmn_rbygscregular";
  src: url("pkmn_rbygsc-webfont.woff2") format("woff2"),
    url("pkmn_rbygsc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}
nav {
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 10px;
  font-family: "pkmn_rbygscregular", Arial, sans-serif;
  transition: 2s;
}
li {
  font-family: "pkmn_rbygscregular", Arial, sans-serif;
}
/* React transition group */
.my-node-enter {
  opacity: 0;
  transform: translateY(-188px);
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.my-node-exit {
  opacity: 1;
  transform: translateY(-188px);
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity transform 200ms;
}

.burger-menu-enter {
  opacity: 0;
}
.burger-menu-enter-active {
  opacity: 1;
  transition: opacity 6000ms;
}
.burger-menu-exit {
  opacity: 1;
  position: absolute;
  left: 10px;
}
.burger-menu-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.burger-icon {
  cursor: pointer;
  position: absolute;
  left: 10px;
}

/* end of transition group */
.logo-tag:hover:after {
  content: " <=";
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
